*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}
.container nav{
    width: 50%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 12, 64);
    text-align: center;
    border-radius: 15px 15px 0 0;
}
.container nav p{
    color: #fff;
}
.container nav i{
    font-size: 20px;
}
.container main{
    width: 50%;
    margin: 30px auto;
    padding: 0 20px;
}
.container main .card{
    width: 100%;
    display: flex;
}
.container main .card .card-img{
    width: 200px;
    height: 250px;
    margin-right: 15px;
}
.container main .card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.container main .card .card-info{
    flex: 1;
    margin-top: 20px;
    margin-left: 15px;
    height: 230px;
    overflow: hidden;
}
.container main .card .card-info .location{
    font-size: 14px;
    margin-bottom: 10px;
}
.container main .card .card-info .location i{
    color: red;
    margin-right: 10px;
}
.container main .card .card-info .location span a{
    color: gray;
    font-size: 13px;
    text-decoration: underline 2px;
}
.container main .card .card-info h1{
    margin-bottom: 25px;
}
.container main .card .card-info h4{
    font-size: 14px;
    margin-bottom: 10px;
}
.container main .card .card-info .title{
    line-height: 23px;
}
hr{
    margin-top: 5%;
    border: 0.1px solid rgb(238, 226, 226);
}